$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

//@import 'idangerous.swiper.css';
//@import 'idangerous.swiper.scrollbar.css';
//@import '/bower_components/normalize-css/normalize.css';

$scm-yellow: yellow;
$scm-green: #99cc22;//#39b54a;
$scm-blue: #0077bc;
$scm-purple: #413393;
$scm-green: #39b54a;

$scm-orange: #e37c1d;

$orange1: #ffd478;
$orange2: #fec357;
$orange3: #fcb53e;
$orange4: #f7901e;
$orange5: #e37c1d;


$yellow1: #faf39e;
$yellow2: #f3ec58;
$yellow3: #ebe839;
$yellow4: #ecd903;
$yellow5: #e37c1d;

$sliderOffset: 100px;

$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
$easeInBackCustom: cubic-bezier(0.245, -0.090, 0.735, 0.045);


//$divcount: .swiper-nested .swiper-slide:nth-last-child;


html, body{
  height: 100%;
}


a{
  color: white;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/******* LOGO ***************/


.logo{
 // animation: rotation 2s infinite alternate ease-in-out;
  //animation-direction: alternate;
  transform-origin:center center;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  height: 50px;
  width: 50px;
  margin: 20px 10px;
  cursor: pointer;
  
  //transform: rotateZ( 45deg );
  animation:wobble 5s ease-in-out infinite;


}


.logo.touched{
  animation: bounced .5s;

}

#symbol{
  transform-origin:center center;
  animation-fill-mode: forwards;
  height: 50px;
  width: 50px;
  transform:  rotate(30deg);
}

.logo.touched #symbol{
  animation: rotation .5s;
}

@keyframes rotation {
    0% {transform: rotate(30deg);}
    100% {transform: rotate(389deg);}

}

.halfCircleRight{
     height:50px;
     width:25px;
     border-radius: 0 90px 90px 0;
     -moz-border-radius: 0 90px 90px 0;
     border-radius:  0 90px 90px 0;
     background:black;
     position: relative;
    float: left;
    margin-top: 6px;
    margin-left: 1px;
  //  animation: slideRightHalf .5s ease;
   transition: margin-top 0.2s ease;
  //  animation-fill-mode: forwards;
}

.logo.touched .halfCircleRight{
    margin-top: 0px;
}

@keyframes slideRightHalf{
   //0% {margin-top: 6px;}
   100% {margin-top: 0px; margin-left: 0px;}
}



.halfCircleLeft{
     height:50px;
     width:25px;
     border-radius: 90px 0 0 90px;
     -moz-border-radius: 90px 0 0 90px;
     border-radius: 90px 0 0 90px;
     background:black;
     position: relative;
    float: left;
    margin-top: -6px;
    margin-left: -1px;
    transition: margin-top 0.2s ease;
    //hide text
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

  //   animation: slideLeftHalf .5s ease;
    // animation-fill-mode: forwards;
}

.logo.touched .halfCircleLeft{
    margin-top: 0px;
}

@keyframes slideLeftHalf{
 // 0% {margin-top: -6px;}
   100% {margin-top: 0px; margin-left: 0px;}
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    background-color: lightslategrey;
    margin: 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:wobble 5s ease-in-out infinite;
    transform-origin:center center;
    transition:padding .3s, bottom .3s;
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
  
/*
    transition: width .2s cubic-bezier(.39,.83,.54,1), 
                height .2s cubic-bezier(.39,.83,.54,1), 
                background-color .5s; 
*/
   
}

.no-touch .circle:hover{
  background-color: #009933;
}
/*
.circle:active{
  width: 30px;
  height: 30px;
}
*/

.circle.touched,
.no-touch .circle.touched{
  background-color: white;
  transition: background-color .2s;
  animation:bounced .2s ease-in-out;
}


.logo.touched .halfCircleLeft,
.no-touch .logo.touched .halfCircleLeft{
  background-color: white;
  transition: background-color .5s;
 // animation: rotation 2s ease-out;
 // transition: rotation 2s ease-out;
}

.logo.touched .halfCircleRight,
.no-touch .logo.touched .halfCircleRight{
  background-color: white;
  transition: background-color .5s;
 // animation: rotation 2s ease-out;
 // transition: rotation 2s ease-out;
}

.touched{
  transform: translateZ(0);
}

//@keyframes wobble { 33%{ transform:rotate(5deg); } 66%{transform:rotate(-5deg); } }

@keyframes wobble { 
  33%{ transform:translateX(3px); } 
  66%{transform:translateX(-3px); } 
}


@keyframes bounced { 
  0%{ transform:scale(0.5, 0.5); } 
  //33%{ transform:scale(0.8, 0.8); } 
  66%{transform:scale(1.2, 1.2); } 
  80%{transform:scale(0.8, 0.8); } 
  90%{transform:scale(1.05, 1.05); } 
}

.shadow {
  -moz-box-shadow:    -3px 3px 0px 0 #ccc;
  box-shadow: -3px 3px 0px 0 #ccc;
  box-shadow:         -3px 3px 0px 0 #ccc;
}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/***** END LOGO *********************************************************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
   /* border-bottom: 1px solid #e5e5e5;*/
    position: fixed;
    border: none;
    z-index: 2;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.slidetext{
    height: 40px;
    overflow-y: scroll;
}



/* Demo Styles */
body {
/*
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
*/
//  transform: translate3d(0, 0, 0);
  //font-family: 'Cantarell', sans-serif;
  font-family: 'Cantarell', sans-serif;
  font-size: 17px;
  line-height: 23px;  

  height:  100%;
  margin:  0px auto;
  padding: 0px auto;
  background: yellow;
  color: #333333;
}

p{

    //font-family: 'Cantarell', sans-serif;
   // font-family: 'Source Code Pro', sans-serif;
    font-size: 17px;
    line-height: 23px;  
     margin: 0 0 10px;
}


.swiper-scrollbar {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: 1;
}

.swiper-container {
 // height: auto !important; /*min-height hack*/
 // height: 100%;            /*min-height hack*/
 //height: 600px;
    height: 100vh;
    margin: 0;
    padding: 0;
   // margin:     0px auto;
   // padding:    0px auto;
  color: #fff;
  //text-align: center;
  overflow-y: hidden;
  //overflow-y: scroll;
  //width: 3600px;
}
.swiper-nested {
  width: 100%;
}

.full-slide{
 // padding: 0;
 // padding-left: 100px;
  margin: 0;
 //   height: 600px;
 //   width: 320px;
// margin: 90px 0;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  color: #333333;
  //border: red solid 1px;

  /* filter: grayscale(1);
  filter: grayscale(100%); -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray; 
  */
  
}

.full-slide h2{
  font-size: 1.5em;
  line-height: 1.2em;
  //text-shadow: 1px 1px 2px #e6e6e6;
}


.swiper-slide {
 // padding: 0;
  margin: 0;
  //font-style: italic;
 // font-size: 42px;
  margin-bottom: 0;
  //line-height: 250px;
  //width: 320px;
  //width: 30vw; 
//  width: 100%;
  min-width: 320px;
 // overflow: hidden;
  position: relative;
 // border: 1px solid white;
  //max-width: 400px;
  
}
/*
.swiper-slide *{
  backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;

 // z-index:1;
}
*/


.swiper-nested .swiper-slide{
  width: 100%;
  //margin: 0 100px 0 0;
  //padding-left: 50px;

}
.swiper-nested .swiper-slide a{

 // display: block;
  text-decoration: none;
 // height: 100%;

  

}

.swiper-nested .swiper-slide p{

  font-family: 'Quicksand', sans-serif;
}
.swiper-project{
 // height: 360px;
 // width: 320px;
 // overflow: hidden;
}

.swiper-project .swiper-slide{
    width: 320px;
    float: left;
    margin: 0;
    background-color: red;
}

#testcase{
  position: absolute;
  top: 200px;
  left: 200px;
  width: 320px;
  height: 360px;
  z-index: 30000;
}

/*

.panel
{
    opacity: .5;
   
    transition: all 0.5s linear;
    transition: all 0.5s linear;
}
*/
//.blog-slide{
/*
.swiper-nested .swiper-slide{
  opacity: 1;
    transition: all 0.5s linear;
    transition: all 0.5s linear;
}

//.blog-slide:hover

.swiper-nested .swiper-slide:hover
{
    opacity: 0.7;
  ///  background-color: #ffa;

    transition: all 0.5s linear;
    transition: all 0.5s linear;
    background-size: 30px 30px;
  background-image: linear-gradient(
    45deg, 
    rgba(234, 234, 3, 0.1)  25%, 
    transparent       25%, 
    transparent       50%, 
    rgba(234, 234, 3, 0.1)  50%, 
    rgba(234, 234, 3, 0.1)  75%, 
    transparent       75%, 
    transparent
  );  
  animation: barberpole 0.5s linear infinite;
}
*/


.comment{
  position: relative;

  color: #333333;
  text-align: center;
  //height: 100%;
}

.comment h2{
 // line-height: 80vh;
  position: relative;
top: 40%;
transform: translateY(-50%);
}

.salutation{
  text-transform: uppercase;
  opacity:0;
  

}

.salutation-comment{

  opacity:0;

}

.speaking{
  animation: itemEnter 0.5s $easeOutQuad forwards;
}

.salutation-comment.speaking{
  animation: itemEnter 0.5s $easeOutQuad 1s forwards;
}

.fadeOut{
 // transition: all .2s .5s ease-out;
}



.thinking {

  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg, 
    rgba(234, 234, 3, 0.3)  25%, 
    transparent       25%, 
    transparent       50%, 
    rgba(234, 234, 3, 0.3)  50%, 
    rgba(234, 234, 3, 0.3)  75%, 
    transparent       75%, 
    transparent
  );  
  animation: barberpole 0.5s linear infinite;
}

@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}



@keyframes openList {
  to { 
   // max-height: 40px;
  }
}
@keyframes itemEnter {
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes itemExit {
  15%, 30% {
    background: #A6365A;
    opacity:1;
    transform:translateX(0);};
  100% {
    opacity:0;
    transform: translateX(600px);
  }
}

@keyframes itemHighlight {
  5%, 60%{ background: #419FE8;}
  100% {background:#141619;}
}


#column1{

   // width: 700px;
  // width: 95vw;
    margin: 0;
   // padding: 0;
 //  width: 100vw;
   // margin: 90px 40px 100px 40px;
  //  animation: peek 1s 2s ease;
    animation-fill-mode: forwards;
}

.preview{
   animation: previewSlide 1s $easeOutQuad forwards;
}

@keyframes previewSlide {
  50% { transform:translateX(-20px);}
  60% { transform:translateX(30px);}
  70% { transform:translateX(-15px);}
  80% { transform:translateX(15px);}
  90% { transform:translateX(-5px);}
  100% { transform: translateX(0px);}
}

#column1 #hello{
    width:70%; /* 70% of the parent*/
    max-width: 500px;
   // margin:10px auto;
   // border:2px solid #f00;
    margin: 90px 40px 100px 40px;
    padding: 20vh 5vw;
}


#column1 h2{
   font-family: 'Quicksand', sans-serif;
   //font-weight: 700;
   font-size: 50px;
   line-height: 50px;
   margin: 0;

  //font-weight: 700;
  //font-size: 34px;
  //line-height: 36px;  
}

#column1 p{
   font-family: 'Source Code Pro', sans-serif;
   font-size: 24px;
   line-height: 24px;
   padding: 0 3px;
 // font-weight: 700;
  //font-size: 24px;
  //line-height: 26px;  
}


////////////////////////////////////////////


#column2{
  //width: 90vw;
 // max-width: 900px;
  color: #333333;
  //background: url(../images/barberpole_5.gif);
}

#column2 .swiper-slide{
  //padding: 20px 20%;
  text-align: center;
  text-transform: uppercase;


}


#swiper-blog .swiper-slide{

  display: flex;
    align-items: center;
    justify-content: center;
 // height: 300px;
 // height: 30vh;
   // height: ;
//  min-height: 100px;
//  max-height: 400px;
//opacity: 0;
  padding: 20px 20%;

  $num-colors: 7;
  $base-color: #c24;
  $spectrum: 180deg;
  $offset: 30deg;

  @for $i from 0 to $num-colors {
    &:nth-child(#{$i}) {
      background: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i);
    }
  }

}

#swiper-blog .swiper-slide a{

  //display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  margin-left: 5px;
  

 // position: absolute;
 // background-color: orange;
  //top:0px;
  //left:0px;

}
/*
#swiper-nested .swiper-slide a:hover{
  //background-color: yellow;
}
*/

#swiper-blog .blog-latest{
 // height: 300px;
  height: 50vh;
 // min-height: 200px;
  //max-height: 400px;


}



#swiper-blog .blog-feature{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#swiper-blog .blog-title{
  //padding-right: $sliderOffset;
}





////////////////////////////////////////////

#column3{
  //width: 90vw;
 // background: url(../images/barberpole_5.gif);
}

#column3 .swiper-slide{
  $num-colors: 7;
  $base-color: #0033ff;
  $spectrum: 180deg;
  $offset: 30deg;

  @for $i from 0 to $num-colors {
    &:nth-child(#{$i}) {
      background: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i);
    }
  }

  
}
/*
#column3 .swiper-slide:hover{
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg, 
    rgba(234, 234, 3, 0.1)  25%, 
    transparent       25%, 
    transparent       50%, 
    rgba(234, 234, 3, 0.1)  50%, 
    rgba(234, 234, 3, 0.1)  75%, 
    transparent       75%, 
    transparent
  );  
  animation: barberpole 0.5s linear infinite;
}
*/

#swiper-websites .swiper-slide{
 // height: 300px;
 /*
  height: 40vh;
  min-height: 200px;
  max-height: 400px;

  a{
    height: 40vh;
  }
  */

}
#swiper-websites .view .project-block{

  //background-color: $scm-green;
}

////////////////////////////////////////////

#column4{
 // width: 90vw;
  //background: url(../images/barberpole_5.gif);
}

#column4 .swiper-slide{
  $num-colors: 7;
  $base-color: #ff9900;
  $spectrum: 180deg;
  $offset: 30deg;

  @for $i from 0 to $num-colors {
    &:nth-child(#{$i}) {
      background: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i);
    }
  }
}

#swiper-apps .swiper-slide{
  //height: 400px;
  /*
  height: 40vh;
  min-height: 300px;
  max-height: 480px; 

  a{
    height: 40vh;
  }
  */
}


#swiper-apps .view .project-block{

 // background-color: $scm-blue;
 //border: 1px white solid;
}

////////////////////////////////////////////

#column5{
 // width: 90vw;
  //background: url(../images/barberpole_5.gif);
}

#column5 .swiper-slide{
  $num-colors: 6;
  $base-color: #7800ff;
  $spectrum: 180deg;
  $offset: 30deg;

  @for $i from 0 to $num-colors {
    &:nth-child(#{$i}) {
      background: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i);
    }
  }
}

#swiper-ads .swiper-slide{
/*
  height: 30vh;
  min-height: 200px;
  max-height: 350px;

  a{
    height: 30vh;
  }
*/
}

#swiper-ads .view .project-block{

 // background-color: $scm-orange;
}


////////////////////////////////////////////

#column6{
  width: 90vw;
  
  font-size: 2em;


}

#swiper-bio .swiper-slide{
 // height: 300px;
  //height: 40vh;
 height: auto;
 // min-height: 200px;
 // max-height: 400px;
  padding: 40px 25% 40px 70px;

  $num-colors: 6;
  $base-color: #ff3300;
  $spectrum: 180deg;
  $offset: 30deg;

  @for $i from 0 to $num-colors {
    &:nth-child(#{$i}) {
      background: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i);
    }
  }

}


#swiper-bio h2{
  font-size: 24px;
  padding: 40px 0;
}

#swiper-bio ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  font-family: 'Quicksand', sans-serif;
   //font-weight: 700;
   //font-size: 14px;
   font-size: 17px;
  line-height: 23px;
  white-space: nowrap;

}

#swiper-bio .fa{
  margin-right: 5px;
  font-size: 20px;
}

#swiper-bio .fa-reply{
  font-size: 16px;
}

.textcol{
  width: 50%;
  float: left;
  padding-right: 40px;

}

.futurejob{
  opacity: .3;
}

////////////////////////////////////////////

#column7{
 // width: 90vw;
  padding: 50px 30px;
  //background-color: $scm-orange;
}


.owl-carousel,
.owl-item{
  width: 620px;
  height: 698px;
}



/*
.view{
 // min-height: 150px;
 // height: 100%;
 // width: 100%;
  //background: url(AjaxLoader.gif) no-repeat center center
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg, 
    rgba(234, 234, 3, 0.1)  25%, 
    transparent       25%, 
    transparent       50%, 
    rgba(234, 234, 3, 0.1)  50%, 
    rgba(234, 234, 3, 0.1)  75%, 
    transparent       75%, 
    transparent
  );  
  animation: barberpole 0.5s linear infinite;
}
*/
.pagination {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;

  transform:  rotate(30deg);

  background: #222;
  margin-right: 5px;
//  opacity: 0;
  border: 1px solid #fff;
  cursor: pointer;
 // transform: scale3d(0,0,0.75);

  transition: all 0.5s linear .5s;
  transition: all 0.5s linear .5s;
}

.full-slide.swiper-slide-active .swiper-pagination-switch{
// opacity: 1;
}


.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.pagination-nested{
  bottom: auto;
  top: 70px;
  left: -75px;
}
.pagination-nested .swiper-pagination-switch {
  display: block;
  margin-right: 0;
  margin-bottom: 5px;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    background-color: lightslategrey;
    margin: 10px;
   
}



@keyframes peek{
   //0% {width: 100vw;}
   100% {width: 60vw;}
}




.view {
    width: 620px;//480px;//320px;
    height: 698px;//540px;//auto;//360px;//100%;

  //  margin: 10px;
    float: left;
  //  border: 10px solid #fff;
    overflow: hidden;
    position: relative;

 //   margin-left: 15%;
   // text-align: center;
   // box-shadow: 1px 1px 2px #e6e6e6;
  //  cursor: default;
   // background: #fff url(../images/bgimg.jpg) no-repeat center center


}
.view,
.owl-carousel,
.item,
.project-block,
.project-title,
.project-tray,
.project-desc{
 // backface-visibility:hidden
}

.gallery{
  perspective: 1000;
backface-visibility: hidden;
}





.project-block{
   // width: 100%;
   // height: 60px;
    //position: absolute;
 //   overflow: hidden; 
   // bottom: 0;
 //  background: rgb(79, 156, 223);
   // left: 0;
  // position: relative;
  // float: left;
 // position: absolute;
 // left: 320px;
 // margin: 30px;
  padding: 30px;
  width: 40%;
//max-width: 440px;//480px;//50vw;
float: left;
position: relative;
    
}

.project-block a{

  width: 180px;
  border: 1px solid white;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(252, 246, 246, 0.17);
  transition: all 0.3s;

}
.project-block a:hover{
  background: white;
  color: #333;
}

#contact-info a{
  /*
  border: 1px solid white;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(252, 246, 246, 0.17);
  */
  transition: all 0.3s;
}
#contact-info a:hover{
  //background: white;
  //color: rgb(110, 38, 217)
  opacity: .4;
  color: white;

}




.project-block img {
    display: block;
    position: relative;
   // transition: 1.2s all ease-in;
   // -moz-transition: 1.2s all ease-in;
    //transition: 1.2s all ease-in;
   
   
}
.project-block h2 {
    text-transform: uppercase;
   // color: #fff;
    //text-align: center;
    position: relative;
  //  font-size: 17px;
 //   padding: 10px;
    //text-align: right;
  //  background: rgba(0, 0, 0, 0.8);
   // margin: 20px 0 0 0
}
.project-block p {
  //font-family: 'Source Code Pro', sans-serif;
   // font-family: Georgia, serif;
   // font-style: italic;
//    font-size: 14px;
  //  position: relative;
   // color: #fff;
   // padding: 10px 20px 20px;
   // text-align: center;
   
}
.project-block a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
   // background: #000;
    color: #fff;
    text-transform: uppercase;
   // box-shadow: 0 0 1px #000
}
.project-block a.info:hover {
    box-shadow: 0 0 5px #000;
}

.fa-angle-down{
  display: none;
}
.project-desc ul{
  margin: 20px 0;
}

.project-desc ul li{
  list-style: none;
  //display: inline;
  //margin-right: 30px;
  padding: 0px 8px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.project-desc ul li:before{
  content: '';
   position: absolute; 
    left: 30px;
    /* top: 50%; */
    /* margin-top: -1em; */
    background-color: rgba(251, 252, 250, 0.25);
    height: 10px;
    width: 40px;
    margin: 7px 0;
}

.project-desc ul li .fa{
   // margin-left: -20px;

}

/*
.page-container img{
    height: auto;
    width: 100%;
}
*/
/*
.arrow-up {

  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(79, 195, 93);

  position: absolute;
  left: 10px;
  bottom: 60px;
}

.arrow-down {

  width: 0;
  height: 0;

  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  //border-top: 40px solid #39b54a;
  position: absolute;
  left: 10px;
  top: 60px;
  display: none;
}

#swiper-nested1 .arrow-down{
  border-top: 40px solid #39b54a;
}

#swiper-nested2 .arrow-down{
  border-top: 40px solid #0077bc;
}

#swiper-nested3 .arrow-down{
  border-top: 40px solid #ff8604;
}
*/


/****** FORM ********/
/*

// general style for the form 
.nl-form {
  width: 100%;
  margin: 0.3em auto 0 auto;
  font-size: 2em;
  line-height: 1.5;
}

.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// normalize the input elements, make them look like everything else 
.nl-form input,
.nl-form select,
.nl-form button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
}

.nl-form input:focus {
  outline: none;
}

// custom field (drop-down, text element) styling  
.nl-field {
  display: inline-block;
  position: relative;
}

.nl-field.nl-field-open {
  z-index: 10000;
}

// the toggle is the visible part in the form 
.nl-field-toggle,
.nl-form input,
.nl-form select  {
  line-height: inherit;
  display: inline-block;
  color: #b14943;
  cursor: pointer;
  border-bottom: 1px dashed #b14943;
}

// drop-down list / text element 
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #76C3BD;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
  color: #fff;
  position: relative;
}

.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
  color: #478982;
}

.no-touch .nl-dd ul li:hover {
  background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
  color: #478982;
}

// icons for some elements 
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

.nl-ti-text ul {
  min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  width: 1.8em;
  text-align: center;
  color: transparent;
}

.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

// custom placeholder color 
input::input-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::input-placeholder ,
input:focus::input-placeholder {
  color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
  color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

// example field below text input 
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0,0,0,0.2);
  border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
  color: #fff
}

// submit button 
.nl-submit-wrap {
  margin-top: 0.4em;
}

.nl-form .nl-submit {
  line-height: 3;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #76C3BD;
  color: #fff;
  padding: 0 1em 0 0;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 3px;
}

.nl-submit:before {
  content: "\e001";
  color: #fff;
  float: left;
  padding: 0 0.7em;
  margin: 0 0.8em 0 0;
  background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
  background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover:before {
  background: #58a199;
}

// overlay becomes visible when a field is opened 
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
*/


    .owl-carousel .item img{
        display: block;
        width: 100%;
        height: auto;
    }

/* preloading images */
//.owl-item.loading{
.owl-item.loading .loader{

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border-width: 5px;
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0.75)
      hsla(0, 0%, 100%, 0.75) hsla(0, 0%, 100%, 0.25) hsla(0, 0%, 100%, 0.25);
  border-radius: 100%;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*
@media screen and (max-width: 45em) {
  .nl-form {
   // font-size: 3em;
  }
}

@media screen and (max-width: 25em) {
  .nl-form {
    //font-size: 2em;
  }
}
*/
/**** end FORM ******/


 
////// - BLOG PAGES -----///////////
 
.blog-content{
  position: relative;
  float: left;
  padding: 60px 20%;
  /* margin: 0 20%; */
  width: 100%;
}
 
.blog-content h2{
 
  padding: 20px;
  text-align: center;
 
}

.blog-content a{
  color: #F047B3;
  text-decoration: none;
  transition: all .3s ease-out;
}

.blog-content a:hover{
  color: white;
  background-color: #F1EC0E;

}
 
.blog-entry h2{
   
 // border-top: 1px solid white;
  border-bottom: 1px solid $yellow3;
 
}

.blog-entry p{
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 30px;
}
/*
.blog-meta{
   border-top: 1px solid $yellow3;
   border-bottom: 1px solid $yellow3;
}
*/



.blog-entry img{
width: 100%;
margin-bottom: 30px;

}
.date-row{
 // margin-bottom: 40px;
  width: 80%;
  margin: 0 auto 20px;
  
 
}
 
.week-num{
  background-color: none;
  font-size: 10px;
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
 
}
 
 
 
ul.week{
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  float: left;
 
}
 
$my_width: 100%/8;
 
$my_padding: $my_width/16;
 
ul.week li{
  background-color: #F1EC0E;
  width: $my_width;
 
  height: 10px;
  margin: 0;// $my_padding;
  list-style-type: none;
  display: inline-block;
}
 
 
.week li.logged{
  background-color: white;
}
 
.week li.past{
  background-color: #B0B617;
}
///for Vimeo embeds
.embed-container { 
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 0px; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
    margin-bottom: 30px; 

} 
.embed-container iframe,
.embed-container object,
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 
    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 
    animation-duration:1s;
    animation-delay: 2.5s
}
 
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
 
.fade-out {
    opacity:1;  /* make things invisible upon start */
    animation:fadeOut ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 
    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 
    animation-duration:.3s;
    animation-delay: 2s
}
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
 
 
 
////// - END BLOG PAGES -----///////////
@media screen and (max-width: 1200px) {
  .view {

   // margin-left: 0;
   // margin-top: 90px;
    width: 480px;
    height: 540px;//100%;
    overflow: hidden;

  }

  .owl-carousel,
  .owl-item{
    width: 480px;
    height: 540px;
  }
  .project-block {
    width: 40%;
  }
}

/* Responsive: Portrait tablets and up */


@media screen and (min-width: 621px) and (max-width: 768px) {
//@media screen and (min-width: 481px) and (max-width: 768px) {

  .view {
    width: 620px;//480px;//320px;
    height: 698px;//540px;//auto;//360px;//100%;
  }

  .owl-carousel,
  .owl-item{
    width: 620px;//480px;//320px;
    height: 698px;//540px;//auto;//360px;//100%;
  }
  .swiper-slide {

    //width: 50vw;
   // min-width: 320px;
  }

  #swiper-blog .swiper-slide{
    padding: 20px 15% 20px 15%;
  }

  #swiper-blog .blog-feature{
      padding: 0;
      margin-top: 35%;
      position: relative;
      top: 0; 
       transform: none; 
  }

  .project-block{
    padding: 10px 20px 40px;
    width: 100%;
    max-width: 620px;
  }

  .project-block h2{

   // font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
  }

  .project-block p{


      font-size: 16px;
      line-height: 18px;
    }

    .project-block a {
      font-size: 14px;
    }

  .project-desc ul{
    //padding: 0 30px;
    padding: 0;
    margin-bottom: 18px;
    margin-top: 0;
    list-style-type: square;
  }

  .project-desc ul li{

    font-size: 14px;
    opacity: 0.85;
   // padding: 0px;
    //display: inline;
    float: left;
    list-style-type: square;
    padding-right: 20px;
    margin-left: 20px;


  }

  .swiper-nested .swiper-slide a{
    float: left;
    clear: left;
    margin-top: 15px;
  }

  .project-desc ul li:before{
    position: relative;
    left: 0;
    content: none;
      height: 0px;
    width: 0px;
    margin: 0px;
    
}




  #column2, #column3, #column4, #column5, #column6, #column7 {

    width: 100vw;
   // min-width: 320px;
  }

  #column1{
    width: 100vw;
  }



  .blog-content{

    padding: 60px 11%;
  }

}
//@media screen and (orientation:landscape) {
//@media screen and (max-width: 480px) {
@media screen and (max-width: 620px) {
  .logo{
    margin: 20px 10px 0 0;
  }

  .view {

    margin-left: 0;
    margin-top: 90px;
    width: 100%;//480px;
    height: 100%;//540px;//100%;
    overflow: hidden;

  }

  .owl-carousel,
  .owl-item{
    width: 100%;//480px;
    height: 100%;//540px;
  }



  .project-block{
    //width: 100%;
    /*
    height: 90px;  
    margin: 0 0 0 80px; 
    padding: 5px 10px;
    background: rgb(79, 156, 223);

    position: absolute;
    left:0px;
    top: 0px;
    z-index: 12222;
    */

    height: 100%;
    /* margin: 0 0 0 80px; */
    padding: 0px 0px;
   // background: #4f9cdf;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 12222;
    width: 100%;
    overflow: hidden;
   
    
}

.project-block h2{
  /*font-size: 20px;
  line-height: 20px;
  margin: 0 0 7px 0;
  text-align: left;
  */

  font-size: 20px;
  line-height: 20px;
  /* padding: 20px 0; */
  margin: 0px;
  text-align: left;
  /* height: 90px */

  padding: 10px;
display: table-cell;
vertical-align: middle;

}

.project-block p{


  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(white, .5);
  padding-bottom: 20px;

}

.project-block a{
 text-align: center;
}

.project-title{
  //margin: 20px 0;

  margin: 0px 0 0px 80px;
  //margin: 0px;
  height: 90px;
  display: table;
  width: 100%;
}

.project-info{
  //display: none;

 // height: 100%;
  height: 0;
  //top: 50%;
  //position: absolute;
  position: relative;
  height: 100%;
  overflow: hidden;
  
  

}

.project-tray{
  height: 100%;

 // background-color: black;
  opacity: .95;
  transform: translateY(-120%);
  transition: all .2s ease-out;
}

.project-desc{

  height: 100%;
  padding: 0px 20px;
  top: 50%;
  position: absolute;
  margin-top: -40%;
  
 
}

.project-desc ul{
  margin: 20px 0;
  padding: 0;

}

.project-desc ul li{
  list-style: none;
  /* padding: 0px 8px; */
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;

}

.project-desc ul li:before{
 // content: '';
   position: relative; 
   // left: 30px;
    /* top: 50%; */
    /* margin-top: -1em; */
   // background-color: rgba(251, 252, 250, 0.25);
    height: 0px;
    width: 0px;
    margin: 0px;
}

.project-desc a {
  display: block;
  text-decoration: none;
  /* height: 100%; */
  width: 180px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}

.reveal{

  transform: translateY(0%);
 // opacity: .7;
  
}

.fa-angle-down{
  position: absolute;
  right: 5px;
  bottom: 2px;
}


.date-row{
 // margin-bottom: 40px;
  width: 100%;
  margin: 0;
  
 
}

#swiper-blog .swiper-slide{
  padding: 20px 10%;
}

#swiper-blog .blog-feature{
    position: relative;
    top: 50%;
  }

#swiper-blog .blog-title{
    padding: 0;
  }

#swiper-blog h2{
  line-height: 22px;
}

.blog-content {

  //margin: 0 20px;
  padding: 60px 5%;
}

.blog-meta{
  margin-bottom: 20px;
}



.blog-entry p {
font-size: 16px;
line-height: 24px;
}



#swiper-websites .swiper-slide,
#swiper-apps .swiper-slide,
#swiper-ads .swiper-slide{
 // height: 300px;
 // height: 400px;
  

}

#swiper-bio .swiper-slide{
 // height: 300px;
  //height: 40vh;
 // min-height: 200px;
 // max-height: 400px;
  padding: 80px 18px 20px 18px;

}

#swiper-bio h2{
  font-size: 18px;
  padding: 0;
}

#swiper-bio ul#contact-info li{
  margin: 15px 0;
}

#swiper-bio ul li{
  display: block;
}






  #column1 #hello{
    //width:90%; 
     // margin:10px auto;
     //border:2px solid #fff;
    //  padding: 5vh 0;
  //  margin: 90px 30px;
    /* width: 100%; */
    width: 100%;
    margin: 0px;
    padding: 0px 25px;
    //border: red  1px solid;

    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  #column1 h2{
    font-size: 45px;
    line-height: 45px;
  }

  .colorize .full-slide.swiper-slide-active + .full-slide{
   // filter: grayscale(100%);
  }

  .colorize .full-slide.swiper-slide-active{
    filter: grayscale(0%);
  }

 

  .textcol{
    width: 100%;
    padding: 20px 0 0 0;
    //padding-right: 40px;

  }

  .swiper-scrollbar{
    display: none;
  }

  

}
@media screen and (max-width: 320px) {

  #hello h2{
   // font-size: 40px;
   // line-height: 40px;
  }

  .view {

    margin-left: 0;
    margin-top: 90px;
    width: 320px;
    height: 360px;//100%;

  }

  .owl-carousel,
  .owl-item{
    width: 320px;
    height: 360px;
  }

  .project-title{
    width: 240px;
  }

  .project-desc{
    margin-top: -60%;
  }



}

